<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAZ9qnRXYVeLJxUBHMUPwk2fo0QbS-n7CM</string>
	<key>GCM_SENDER_ID</key>
	<string>60633949108</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.runwayclub.socialRunway</string>
	<key>PROJECT_ID</key>
	<string>social-runwayclub</string>
	<key>STORAGE_BUCKET</key>
	<string>social-runwayclub.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:60633949108:ios:d391977d1d75a66adf08e1</string>
</dict>
</plist>